.principaldiv2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 90%;
    background-color: #000B0A;
    /* #000B0A  */
       background-color: #ece5dd;
    border-radius: 10px;
}

.contactdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    border-radius: 10px;
    height: auto;
    min-height: 100%;
    padding: 20px 4px;
    overflow-x: hidden;
}

.contactdiv > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
}



.contactli{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    gap: 20px;
    background-color: #208076;
    margin: 10px;
    padding: 10px;
    
}

.contactdata{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #000000;
}

.contactdata > li{
    margin: 10px;
}


.contactli p{
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 900px) {
    .contactli{
        flex-direction: column;
    }
}