.divprincipal{
    display: flex;
    flex-direction: column;
}

.divl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.divl > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px; 
    /* quando ta pequeno deixar em 300px */
    width: 100%;
    margin: 10px;
    /* background-color: #128c7e; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ece5dd;
    border-radius: 10px;
    /* border: 1px solid #128c7e; */
    /* //#ece5dd */
}



.divl > div > form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 25px;
    border-radius: 15px;
    
}

.divl > div > h1{
    display: flex;
    justify-content: center;
    color: #128c7e;
    width: 100%;
}

.formint{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.formint label{
    font-weight: 500;
}

.formint input{
    padding: 5px;
    /* border-radius: 10px; */
    background-color: #ece5dd;
    /* border: none; */
    /* outline: none; */
    border-bottom: 2px solid #128c7e;
}

.btn-submit{
    padding: 7px 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #128c7e;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-submit:hover{
    background-color: #1ebe57;
}



.divr{
    width: 60%;
    height: 100%;

}

.icon{
    font-size: 32px;
    color:#128c7e;
}


@media (max-width: 900px) {
    .divl > div{
        display: flex;
        flex-direction: column;
        height: 90%;
    }
    .divl > div > form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 25px;
        border-radius: 15px;
    }
    .divl > div > h1{
        color: #128c7e;
        margin-top: 10px;
    }
}